[program:${CRYPTOCURRENCY}]
command=/usr/bin/env docker container run --name "${CRYPTOCURRENCY}" --rm -v "${CRYPTOCURRENCY_ROOT}/${CRYPTOCURRENCY}:/home/${CRYPTOCURRENCY}" -p "127.0.0.1:${RPCPORT}:${RPCPORT}/tcp" -p "127.0.0.1:${ORDPORT}:${ORDPORT}" "${USERNAME}/${CRYPTOCURRENCY}_node"
autostart=true
autorestart=true
user=root
